{% extends 'CHS_App/base.html' %}
{% load static %}

{% block ExtraHeaders %}
  <link href="{% static 'CHS_App/main.css' %}" rel="stylesheet" />
  <script src="{% static 'CHS_App/main.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="container-fluid p-3 dd1">
    <div class="d-flex flex-column align-items-center justify-content-center mt-5 rounded p-3" style="height: max-content;">
      <div class="display-3">What do you seek 🤔</div>
      <div class="mt-3 mb-2 col-9 d-flex flex-wrap justify-content-evenly">
        <button class="btn btn-outline-primary lead mt-3 mx-1" onclick="showLineIntersectionContainer()">Line Intersection</button>
        <button class="btn btn-outline-danger lead mt-3 mx-1" onclick="showConvexHullContainer()">Convex Hull</button>
      </div>
    </div>

    <div id="lineIntersectionContainer" class="display-1  flex-wrap justify-content-center align-items-center my-4">
      <div class="row justify-content-evenly col-12 mt-3">
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-info-subtle fw-light card-head border-bottom border-info border-4">LI 01</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Line Intersection 01</h5>
            <p class="card-text fs-6">lorem loreml or e ml o rem lo rem lo re m  lor e ml orem  vv  lo reml ore mlor em vlo reml ore mv </p>
            <a href="{% url 'CHS_App:line_intersection' '1' %}"><button type="button" class="btn btn-outline-info col-12">Explore</button></a>
          </div>
        </div>
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-dark-subtle fw-light card-head border-bottom border-dark border-4">LI 02</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Line Intersection 02</h5>
            <p class="card-text fs-6">lorem loreml or e ml o rem lo rem lo re m  lor e ml orem  vv  lo reml ore mlor em vlo reml ore mv </p>
            <a href="{% url 'CHS_App:line_intersection' '2' %}"><button type="button" class="btn btn-outline-dark col-12">Explore</button></a>
          </div>
        </div>
      </div>
    </div>
    <div id="convexHullContainer" class="flex-wrap justify-content-center align-items-center my-4">
      <div class="row justify-content-evenly col-12 mt-3">
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-primary-subtle fw-light card-head border-bottom border-primary border-4">BF</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Brute Force</h5>
            <p class="card-text" style="font-size: 0.9rem;">Unleash the Brute Force beast! 🦁 Tackling Convex Hulls like a determined detective, it checks every nook and cranny—maybe not the fastest, but your trusty geometry sidekick! 🕵️‍♂️💪</p>
            <a href="{% url 'CHS_App:algorithm' 'brute_force' %}"><button type="button" class="btn btn-outline-primary col-12">Explore</button></a>
          </div>
        </div>
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-secondary-subtle fw-light card-head border-bottom border-secondary border-4">JM</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Jarvis March</h5>
            <p class="card-text mb-4" style="font-size: 0.9rem;">Jarvis March, the James Bond of Convex Hulls—sophisticated, choosing points with the suavest polar angles. It's like geometry with a touch of class! 🕶️🌐</p>
            <a href="{% url 'CHS_App:algorithm' 'jarvis_march' %}"><button type="button" class="btn btn-outline-secondary col-12 mt-3">Explore</button></a>
          </div>
        </div>
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-success-subtle fw-light card-head border-bottom border-success border-4">GS</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Graham Scan</h5>
            <p class="card-text mb-5" style="font-size: 0.9rem;">The disco dancer of Convex Hulls, grooving through points with flair and sorting them by polar angles—geometry with a funky twist! 💃🕺🌐</p>
            <a href="{% url 'CHS_App:algorithm' 'graham_scan' %}"><button type="button" class="btn btn-outline-success col-12 mt-3">Explore</button></a>
          </div>
        </div>
      </div>
      <div class="row justify-content-evenly col-12 mt-3">
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-danger-subtle fw-light card-head border-bottom border-danger border-4">QH</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Quick Hull</h5>
            <p class="card-text" style="font-size: 0.9rem;">Zoom, zoom! Quick Hull is the Flash of Convex Hulls, dividing and conquering points at superhero speed. Saving the day faster than you can say "polygonal adventure"! ⚡💨</p>
            <a href="{% url 'CHS_App:algorithm' 'quick_hull' %}"><button type="button" class="btn btn-outline-danger col-12">Explore</button></a>
          </div>
        </div>
        <div class="card p-0 mx-3 my-2" style="width: 18rem; min-width: 18rem;">
          <div style="font-size: 4rem;" class="bg-warning-subtle fw-light card-head border-bottom border-warning border-4">MC</div>
          <div class="card-body">
            <h5 class="card-title fw-normal fs-4">Monotone Chain</h5>
            <p class="card-text" style="font-size: 0.9rem;">Like a GPS for points, it sorts them like a meticulous organizer at a chaotic party, then ingeniously builds a "no-entry" zone for outliers—because even points need VIP access to the convex hull party! 🕺💃</p>
            <a href="{% url 'CHS_App:algorithm' 'monotone_chain' %}"><button type="button" class="btn btn-outline-warning col-12">Explore</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
